<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "アカウントを作成", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>